.counterContainer {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr / 1fr 1fr;
  justify-items: center;
  padding: 35px 10px;
  background-color: $color-btn;

  .containerElement:nth-child(1),
  .containerElement:nth-child(3) {
    border-bottom: 1px solid $color-border-counter;
    padding-bottom: 15px;
  }

  .containerElement:nth-child(2),
  .containerElement:nth-child(4) {
    padding-top: 15px;
  }

  .containerElement {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counterElement {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      width: 20%;
      font-family: $btn-font;
      font-weight: 100;
      font-size: 0.9rem;
      letter-spacing: 1px;
      color: $color-counter-text;

      &::selection {
        background-color: $color-text-highlight-select;
      }
    }

    p {
      font-family: $title-font;
      color: $color-counter-text;
      font-size: 2.3rem;
      letter-spacing: 1px;

      &::selection {
        background-color: $color-text-highlight-select;
      }
    }
    .transacCounter {
      width: 265px;
      text-align: left;
      //   background-color: blue;
    }
  }
}

@media screen and (max-width: 980px) {
  .counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;

    .containerElement {
      border-bottom: 1px solid $color-border-counter;
      padding-bottom: 15px;
      padding-top: 20px;
    }

    .containerElement:nth-child(4) {
      border: unset;
    }

    .counterElement {
      flex-direction: column;
      align-items: unset;
      row-gap: 0.2rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  .counterContainer {
    height: 90px;
    padding: 1px 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template: none;

    .containerElement:nth-child(1),
    .containerElement:nth-child(3) {
      border-bottom: unset;
    }
    .containerElement {
      padding: 1rem 1rem;
      border: unset;
      border-right: 1px solid $background-color;
      // background-color: blue;
    }

    .containerElement:nth-child(4) {
      border: unset;
    }

    .counterElement {
      width: 100%;
      flex-direction: row;
      align-items: center;

      h3 {
        width: 40%;
      }
    }
  }
}
