.designBlockContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.2 ease;

  .contentContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 16rem;
    transition: 0.2 ease;

    h2 {
      font-family: $title-font;
      font-size: calc(3.5rem + 1vw);
      line-height: calc(3.5rem + 1vw);
      transition: 0.2 ease;
    }
    h3 {
      font-family: $title-font;
      font-size: calc(1.8rem + 1vw);
      transition: 0.2 ease;
    }
    h4 {
      padding-top: 1.1rem;
      font-family: $h2-font;
      font-size: calc(0.5rem + 1vw);
      font-weight: 100;
      transition: 0.2 ease;
    }
  }

  img {
    width: 100%;
    padding-top: 1rem;
    transition: 0.2 ease;
  }
}

@media screen and (max-width: 850px) {
  .designBlockContainer {
    .contentContainer {
      padding: 0 1.4rem;

      h2 {
        font-size: calc(2rem + 2vw);
        line-height: calc(2.5rem + 1vw);
      }

      h3 {
        font-size: calc(2rem + 2vw);
        line-height: calc(2rem + 2vw);
        // background-color: red;
      }

      h4 {
        font-size: calc(0.9rem + 1vw);
        line-height: calc(1.4rem + 1vw);
      }
    }
  }
}
