.videoHeroContainer {
  height: 100%;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  justify-content: left;
  align-items: center;
  // background-color: rgb(0, 128, 255);

  .container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    // background-color: red;
  }

  .videoPlaceHolder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  video {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: -1;
  }

  .overlayTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 8%,
      rgba(255, 255, 255, 0) 30%
    );
    z-index: 2;
  }

  .overlayBottom {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 95%
    );
    z-index: 2;
  }

  .textAndBtnContainer {
    height: 100%;
    width: 45%;
    position: relative;
    margin-left: 5rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    z-index: 3;
    // background-color: green;

    h1 {
      font-size: calc(30px + 4.5vw);
      font-family: $title-font;
      line-height: 1;

      &::selection {
        background: $color-text-highlight-select;
        color: $color-text-highlight;
      }
    }

    .btnContainer {
      display: flex;
      column-gap: 10px;

      a:nth-child(1),
      a:nth-child(2) {
        text-transform: uppercase;
        text-decoration: none;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0 30px;
        border-radius: 50px;
        font-family: $btn-font;
        font-size: 15px;
        text-align: center;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $color-hover-btn;
          transform: translateY(-5px);
        }
      }

      a:nth-child(1) {
        background-color: $color-btn;
        color: $background-color;
      }
      a:nth-child(2) {
        background-color: $background-color;
        border: 1px solid $color-border-btn;

        &:hover {
          color: $background-color;
        }
      }
    }

    h2 {
      width: 80%;
      font-size: $h2-font-size;
      font-family: $h2-font;
      line-height: 1.6rem;

      &::selection {
        background: $color-text-highlight-select;
        color: $color-text-highlight;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .videoHeroContainer {
    justify-content: center;

    .textAndBtnContainer {
      align-items: center;
      width: 75%;
      margin-left: unset;
      margin-top: 10rem;
      padding: 0px 10px;

      h1,
      h2 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-direction: column;
    row-gap: 0.8rem;

    a:nth-child(1),
    a:nth-child(2) {
      text-align: center;
      padding: 0 10px;
    }

  }
}
