.videoHeroContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: absolute;
    top: 5rem;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  .videoPlaceHolder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  video {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    z-index: -2;
  }

  .overlayTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 8%,
      rgba(255, 255, 255, 0) 30%
    );
    z-index: -1;
  }

  .overlayBottom {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 95%
    );
    z-index: -1;
  }

  .textAndBtnContainer {
    height: 100%;
    width: 50%;
    position: relative;
    margin-top: 12rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    z-index: 3;
    // background-color: green;

    h1 {
      font-size: calc(2.2rem + 4.5vw);
      font-family: $title-font;
      line-height: 1;
    }

    .btnContainer {
      display: flex;
      column-gap: 10px;

      a:nth-child(1),
      a:nth-child(2) {
        text-transform: uppercase;
        text-decoration: none;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0 30px;
        border-radius: 50px;
        font-family: $btn-font;
        font-size: 15px;
        text-align: center;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $color-hover-btn;
          transform: translateY(-5px);
        }
      }

      a:nth-child(1) {
        background-color: $color-btn;
        color: $background-color;
      }
      a:nth-child(2) {
        background-color: $background-color;
        border: 1px solid $color-border-btn;

        &:hover {
          color: $background-color;
        }
      }
    }

    h2 {
      font-size: 1.4rem;
      font-family: $h2-font;
      font-weight: 100;
      line-height: 1.7rem;
    }
  }
}

//RESPONSIVE

@media screen and (max-width: 480px) {
  .videoHeroContainer {
    .textAndBtnContainer {
      padding: 0 1.4rem;
      width: 100%;
      h1,
      h2 {
        text-align: center;
      }
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      flex-direction: column;
      row-gap: 0.8rem;

      a:nth-child(1),
      a:nth-child(2) {
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .videoHeroContainer {
    .textAndBtnContainer {
      width: 480px;
      align-items: center;
      h1,
      h2 {
        text-align: center;
      }

      h1 {
        width: 100%;
        font-size: 3.7rem;
      }

      h2 {
        width: 90%;
        font-size: 1.5rem;
      }
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      row-gap: 0.8rem;

      a:nth-child(1),
      a:nth-child(2) {
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 780px) {
  .videoHeroContainer {
    .textAndBtnContainer {
      width: 750px;
      align-items: center;
      h1,
      h2 {
        text-align: center;
      }

      h1 {
        width: 80%;
        font-size: calc(1.7rem + 5vw);
      }

      h2 {
        width: 90%;
      }
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      row-gap: 0.8rem;

      a:nth-child(1),
      a:nth-child(2) {
        text-align: center;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .videoHeroContainer {
    justify-content: left;
    padding: 0rem 2rem;
    .textAndBtnContainer {
      align-items: unset;
      width: 50%;
      margin-left: unset;
      padding: 0px 10px;

      h1,
      h2 {
        text-align: left;
      }

      h1 {
        font-size: calc(1.8rem + 5vw);
      }

      .btnContainer {
        flex-direction: row;
        justify-content: left;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .videoHeroContainer {
    justify-content: center;
    padding: 0rem 2rem;
    .textAndBtnContainer {
      align-items: left;
      width: 1000px;
      margin-left: unset;
      padding: 0px 10px;
      margin-bottom: 0rem;


      h1 {
        width: 51%;
        font-size: calc(2rem + 5vw);
      }
      h2 {
        width: 50%;
      }

      .btnContainer {
        width: 50%;
        flex-direction: row;
        justify-content: left;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .videoHeroContainer {
    justify-content: center;
    padding: 0rem 2.5rem;
    .textAndBtnContainer {
      align-items: left;
      width: 1150px;
      margin-left: unset;
      margin-bottom: 0rem;

      h1 {
        width: 50%;
        font-size: 6rem;
      }
      h2 {
        width: 50%;
      }

      .btnContainer {
        width: 50%;
        flex-direction: row;
        justify-content: left;
      }
    }
  }
}



@media screen and (min-width: 1440px) {
}
