@font-face {
  font-family: "title-font";
  src: url(../assets/fonts/ABCDiatype-Bold.f2bf1e1c.otf);
}

@font-face {
  font-family: "h2-font";
  src: url(../assets/fonts/ABCDiatype-Regular.2505c0cb.otf);
}

@font-face {
  font-family: "btn-font";
  src: url(../assets/fonts/ABCDiatypeSemi-Mono-Regular.39db908c.otf);
}

@font-face {
  font-family: "text-font";
  src: url(../assets/fonts/ABCDiatypeSemi-Mono-Regular.39db908c.otf);
}

// FONTS
$title-font: "title-font", sans-serif;
$h2-font: "h2-font", sans-serif;
$btn-font: "btn-font", sans-serif;
$text-font: "text-font", sans-serif;

//FONT SIZE
$h2-font-size: 1.4rem;

// COLORS
$background-color: #000000;
$text-color: #ffffff;
$menu-burger-color: #ffffff;
$nav-separation-color: #80808089;
$color-hover-nav: #42ba96;
$color-btn: #14f195;
$background-color-btn-Explorer: #9945ff;
$color-text-highlight-select: #00ffbd;
$color-text-highlight: #232323;
$color-border-btn: #ffffff;
$color-hover-btn: #ffffff;
$color-counter-text: #000000;
$color-border-counter: #000000;
$color-counter-separator: #000000;
$color-background-card : #232325;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $text-font;
  color: $text-color;
}

body {
  background-color: black;
  height: 100vh;
  width: 100%;
}
